html {
    height: 100%;
    
}
body {
    margin: 0;
    background-image: url("bgwe.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Pacifico', cursive;
    font-family: 'Questrial', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Ropa Sans', sans-serif;
}
#title{
    text-align: center;
    font-size: 50px;
    color:#363636;
}

.card{
    display: none;
    margin: auto;
    opacity: 0.85;
}

.card-body{
    text-align: center;
    opacity: 1;
}

.col-lg-6{
    margin: auto;
}

#search{
    margin-left: 300px;
}